.text-field:focused 
{
    -fx-focus-color: transparent;
}

.text-field {
	-fx-background-radius: 0;
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-prompt-text-fill:#708090;
    -fx-text-box-border: transparent; 
    height: 140px; 
}

.button 
{
	-fx-border-width: 1.5;
	-fx-border-color: white;
	-fx-font-size: 18;
	-fx-font-family: "Verdana";
	-fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 5, 0.0 , 0 , 1 );
	}

.button:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.8) , 5, 0.0 , 0 , 1 );
}

.thumb {
	-fx-background-color: rgba(255,255,255, 0.2);
}
.scroll-bar:vertical {
	-fx-background-color: transparent;
}

.increment-arrow, .decrement-arrow {
	-fx-background-color: null;
}

.scrollpane:text-area {
			-fx-background: transparent;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background: transparent;
    -fx-background-color: rgba(255,255,255,0.1);    
}

.scroll-pane:focused, .scroll-pane .corner {
    -fx-background-insets: 0;
}


#welcome {
	-fx-font-size: 50px;
   -fx-font-family: NexaLight;
   -fx-fill: #FFFFFF;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 8, 0.0 , 0 , 1 );
   -fx-font-weight: 600;
}

#textstyle2 {
	-fx-font-size: 20px;
   -fx-font-family: "Segoe UI Light";
   -fx-fill: #FFFFFF;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 8, 0.0 , 0 , 1 );
}

#onlinepane {	
}

#user {
	-fx-font-family: NexaLight;
	-fx-font-size: 30px;
}

#username:hover {
-fx-fill: white;
-fx-effect: dropshadow( gaussian, rgba(255,255,255,0.7) , 8, 0.0 , 0 , 1 );	
}

#username {
-fx-fill: white;
}

#usernameoff {
-fx-fill:grey;
}


#header2 {
	-fx-fill: white; 
}

#sp2 {
	 -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#header {
	-fx-background-color: rgba(0,0,0,0.3);
}

#inputbox:focused, #msgboxs:focused
{
    -fx-focus-color: transparent;
}


#inputbox {
		-fx-prompt-text-fill:white;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 8, 0.0 , 0 , 1 );
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-border-width: 1.5;
	-fx-border-color: white;
}

#inputbox .content, #inputbox .scroll-pane, #msgboxs .content, #msgboxs .scroll-pane
{
	-fx-background-color:transparent;
}

#inputbox .font {
	-fx-fill: blue;
}

#msgboxs {
	-fx-background-color: transparent;
}

#messagetext {
	-fx-fill: white;
    -fx-effect: dropshadow( three-pass-box , black, 6, 0.0 , 0 , 1 );
	
}

#logout
{
	-fx-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 8, 0.0 , 0 , 1 );
}

#logout:hover
{
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.7) , 8, 0.0 , 0 , 1 );
}